<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" alt="LOGO" height="112" width="118"></a>
        </div>

        <div id="navigation">
          <ul>
            <li><a href="/">HOME</a></li>
            <li class="selected"><a href="/travel">TRAVEL</a></li>
            <li><a href="/rooms.html">ROOMS</a></li>
            <li><a href="/meals.html">MEALS</a></li>
            <li><a href="/news.html">NEWS</a></li>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/contact.html">CONTACT</a></li>
          </ul>
        </div>
      </div>

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>{{title}}</h1>

              <div class="content">
                {{#each trips}}
                  <div class="room">
                    <img src="/images/{{this.image}}" alt="{{this.name}}">
                    <h2>{{this.name}}</h2>
                    <p>{{this.description}}</p>
                  </div>
                {{/each}}
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <div>
          <ul class="navigation">
            <li><a href="/">HOME</a></li>
            <li class="active"><a href="/travel">TRAVEL</a></li>
            <li><a href="/rooms.html">ROOMS</a></li>
            <li><a href="/meals.html">MEALS</a></li>
            <li><a href="/news.html">NEWS</a></li>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/contact.html">CONTACT</a></li>
          </ul>
          <p>© 2023 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>